<section id="dashboard">
	<h1>Welcome {{user.name}}</h1>
	<h2>Your email is {{user.email}}</h2>
	<h2>Role: {{user.role}}</h2>
	<a href="/cart"><button type="button">View Cart</button></button></a>
	<a href="/products/list"><button type="button">View Products</button></button></a>
	
</section>